:root {
	font-size: 1em;
}

.NavBarMain {
	display: flex;
	justify-content: left;
	align-content: center;
	position: fixed;
	
	
	min-height: 5%;
	width: 100%;
	
	
	background-color: #F1FFE7;
	background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

	box-shadow: 0px 3px 25px #000000;
	z-index: 10;
}

.NavBarBGShadow {
	position: fixed;
	
	min-height: 5%;
	width: 100%;
	
	box-shadow: 0px 52px 35px #206857;
	z-index: 1;
}

.NavBarGhost {
	position: relative; 
	margin-bottom: 5%; 
	
	width: 95%;
	
	z-index: -5; 
	box-shadow: 0px 0px 0px #000000; 
}

.NavBtn {
	min-width: 100px;
	min-height: 5%;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-top: 4px;
	
	color: 6C464E;
	text-align: center;
	line-height: 3;
	font-size: 1rem;
}






.InfoContainer {
	flex-direction: wrap; 
	
	width: 30%;
}

.MainContainer {
	flex-direction: column; 
	margin-left: 1%px;
	
	width:70%;
}

.PictureHolder {
	display: block; 
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
		
	width: 128px; 
	height: 128px; 
	
	box-shadow: inset 0px 5px 8px #000000; 
	border-radius: 50%; 
	background-image: url('avatar-1577909_640.png'); 
	background-size: 128px 128px;
}

.MainBody {
	width: 80%;
	display: flex;
	flex-direction: wrap;
	margin-left: 10%;
	position: relative;
	
	color: 6C464E;
	font-size: 1.2rem;
	background-color: #f1ffe7;
	background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	
	background-color: F1FFE7;
	
	box-shadow: 0px 10px 40px #000000;
	z-index: 2;
}





.ListOrder {
	display: flex; 
	flex-wrap: wrap;
}

.ListWidth {
	width: 45%;
}

.TitleCard {
	display: flex;
	position: relative;
	
	min-width: 100%;
	min-height: auto;
	
	background-image: url("dark-mosaic.png"), url("bosque-car-car-lights-626155.jpg");
	background-size: auto, 100% auto;
	background-repeat: repeat, no-repeat;
}

body {	
	color: 6C464E;
	background-color: #32A287;
	background-image: url("washi.png");
}

div {
	padding-left: 1%;
	padding-right: 1%;
}

@media (min-aspect-ratio: 11/10) {
	.MainBody {
		flex-direction: wrap;
		font-size: 1rem;
	}
  
	.InfoContainer {
		width: 20%;
		
	}
	
	.MainContainer {
		width: 80%;
	}
	
	.ContactInfo {
		text-align: left;
	}
	
	.PictureHolder {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-aspect-ratio: 11/10) {
	.MainBody {
		flex-direction: column;
		font-size: 0.8rem;
	}
  
	.InfoContainer {
		width: 100%;
	}
	
	.MainContainer {
		width: 100%;
	}
	
	.ContactInfo {
		text-align: center;
	}
	
	.PictureHolder {
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-aspect-ratio: 2/3) {
	.ListOrder {
		flex-direction: wrap;
	}
	
	.ListWidth {
		width: 45%;
	}
}

@media (max-aspect-ratio: 2/3) {
	.ListOrder {
		flex-direction: column;
	}
	
	.ListWidth {
		width: 100%;
	}
}